$main_background_color: #2C2C2C
$while_color: #FFFFFF
$light_while_color: #D9D9D9
$grey_color: #767676
$second_color: #FFBD06


@font-face 
    font-family: 'ActayWide-Bold'
    src: url('../fonts/actaywide-bold.eot')
    src: url('../fonts/actaywide-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/actaywide-bold.woff2') format('woff2'), url('../fonts/actaywide-bold.woff') format('woff'), url('../fonts/actaywide-bold.ttf') format('truetype'), url('../fonts/actaywide-bold.svg#actaywide-bold') format('svg'); /* Chrome < 4, Legacy iOS */

@font-face 
    font-family: 'Actay-Regular'
    src: url('../fonts/actay-regular.eot') 
    src: url('../fonts/actay-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/actay-regular.woff2') format('woff2'), url('../fonts/actay-regular.woff') format('woff'), url('../fonts/actay-regular.ttf') format('truetype'), url('../fonts/actay-regular.svg#actay-regular') format('svg'); /* Chrome < 4, Legacy iOS */


.map_component
    margin: 10px
    height: 75vh
    width: "100%" 

body
    margin: 0px
    min-width: 650px
    background: $main_background_color

button, select
    cursor: pointer
    height: 40px
    font-size: 20px 
    border: 0px
    border-radius: 8px
    margin: 4px
    background: $second_color
    &:hover
        color: $second_color
        background: $main_background_color
        border: 2px solid $second_color

input
    height: 60px
    font-size: 20px 
    color: $light_while_color
    border: 2px solid $light_while_color
    border-radius: 16px
    background:  #2C2C2C
    padding: 12px 20px
    margin: 8px 0
    box-sizing: border-box

.row_box
    display: flex
    flex-direction: row 
    align-items: center
    width: 95%
    justify-content: space-between

header
    width: 100%
    display: flex
    flex-direction: column 
    align-items: center
    height: 72px
    background: $light_while_color

.logo_background
    display: flex
    width: hug
    flex-direction: row
    height: 100%
    align-items: center
    padding: 0px 16px 0px 16px
    background: #333333

.navigation_buttons
    display: flex
    flex-direction: row 
    justify-content: space-between
    button
        margin: 16px
        background: $light_while_color
        font:
            family: "Actay-Regular"
        &:hover
            background: $while_color
            color: $main_background_color
            border: 0px
            font:
                family: "ActayWide-Bold"

.profile_section
    button
        margin-left: 16px
        background: $main_background_color
        color: $while_color
        &:hover
            margin-left: 14px
            color: #2C2C2C
            border: 1px solid
            border-color: #767676
            background: $while_color

    .user_profile
        color: $main_background_color
        background: $light_while_color
        border: 2px solid 
        &:hover
            margin-left: 18px

.login_page
    background: $main_background_color
    height: 100vh
    width: 100%
    min-width: 600px
    display: flex
    flex-direction: column 
    align-items: center
    justify-content: center

    .column_box
        min-width: 300px
        width: 20%
        display: flex
        flex-direction: column 
        align-items: center

    button
        margin-top: 12px
        font:
            family: "ActayWide-Bold"
    
    button, input
        height: 60px
        width: 100%
    
    .account_recovery_button
        padding: 32px
        font:
            family: "Actay-Regular"

        color:  $light_while_color

        span
            color: $second_color

.load_massage
    color: $light_while_color
    font:
        family: "Actay-Regular"

.profile_info_section
    display: flex
    flex-direction: column 
    margin: 16px

    .row
        display: flex
        flex-direction: row
        justify-content: center

    p
        font-size: 64px
        font:
            family: "ActayWide-Bold"
        color: $second_color

.column_info
    display: flex
    flex-direction: column 
    margin: 16px
    width: 100%
    justify-content: space-between
    button
        width: 100%
        margin-top: 16px

.subscription_box
    display: flex
    flex-direction: column 
    background: $light_while_color
    border-radius: 16px
    padding: 16px

    hr
        height: 3px;
        background-color: $second_color
        border: 0px
        margin: 1em;

    span
        padding: 4px
        color: $main_background_color
        font-size: 32px
        font:
            family: "Actay-Regular"

    .header
        display: flex
        justify-content: space-between
        span
            font:
                family: "ActayWide-Bold"

.subscriptions_list
    display: flex
    flex-direction: column
    padding: 16px
    p
        font-size: 32px
        font:
            family: "ActayWide-Bold"
        color: $second_color
    .card
        margin-bottom: 8px
        padding: 16px

        .button_section
            padding: 16px
            display: flex
            justify-content: space-between

        button
            width: 30%

.page
    width: 100%
    height: 100vh
    background: $while_color

.home_page
    display: flex
    flex-direction: row
    justify-content: center
    width: 100%
    background: $while_color
    padding: 32px 0px 32px 0px

.home_main_container
    width: 95%
    display: flex
    flex-direction: row
    justify-content: space-between
    color: $second_color
    border-radius: 32px
    background: $main_background_color

    .title
        width: 80%
        padding: 32px
        font-size: 100px
        font:
            family: "ActayWide-Bold"

    .text_body
        width: 40%
        padding: 0px 0px 0px 32px
        font-size: 20px
        line-height: 28px
        color: $while_color
        font:
            family: "Actay-Regular"

    img
        margin-top: 180px
        margin-left: 40%
        position: absolute

    .trynow_button
        margin: 32px
        border-radius: 4px
        padding: 16px
        height: auto;
        font-size: 32px

.full_logo_name
    font-size: 32px
    font:
        family: "ActayWide-Bold"
    padding-top: 180px

    .neuro
        color: $while_color
        transform: rotate(-90deg)
    .poligon
        margin-top: -115px
        transform: rotate(-90deg)